<app-table [columns]="columns"
           [data]="data"
           [defaultSorting]="sorting"
           [loading]="loading"
           [floatingMenuItems]="menuItems"
           (sortingChanged)="onSortingChanged($event)"></app-table>

<ng-template #price let-row>
    <app-price [price]="row.price" [originalPrice]="row.originalPrice" class="d-inline-block"></app-price>
</ng-template>

<ng-template #permittedPersons let-row>
  <div class="ms-2 shared-with-container user-avatar">
    <ng-container *ngIf="row.permittedPersons && row.permittedPersons.length > 0">
      <ng-container *ngIf="row.permittedPersons.length > 3; else noMoreUsers">
        <app-user-avatar class="more-users"
          [initials]="((row.permittedPersons.length - 2) > 9) ? '9+' : '+' + (row.permittedPersons.length - 2)"
          color="#e1e2e4"
          [ngbTooltip]="((row.permittedPersons.length - 2) > 9) ? '+' + (row.permittedPersons.length - 2) : undefined"
          (click)="editItem(row)">
        </app-user-avatar>
        <app-user-avatar *ngFor="let user of row.permittedPersons.slice(0, 2).reverse()" [initials]="getUserInitials(user)"
          [tenant]="user.tenant" [ngbTooltip]="getUserFullName(user)">
        </app-user-avatar>
      </ng-container>
      <ng-template #noMoreUsers>
        <app-user-avatar *ngFor="let user of row.permittedPersons.slice(0, 3).reverse()" [initials]="getUserInitials(user)"
          [tenant]="user.tenant" [ngbTooltip]="getUserFullName(user)">
        </app-user-avatar>
      </ng-template>
    </ng-container>
    <app-user-avatar
      [initials]="getUserInitials(row.createdBy)"
      [tenant]="row.createdBy.tenant"
      [ngbTooltip]="getUserFullName(row.createdBy)">
    </app-user-avatar>
  </div>
</ng-template>

<ng-template #exchangeResult let-model>
  <div
    *ngIf="model.originalPrice != null"
    class="exchange-icon mx-1"
    [ngClass]="{
      'error': model.price.exchangeFailure?.type === failureType.Error,
      'warning': model.price.exchangeFailure?.type === failureType.Warning
    }">
    <li class="icon icon-currency-exchange" [ngbPopover]="exchangeResultPopover" triggers="mouseenter:mouseleave"></li>
  </div>

  <ng-template #exchangeResultPopover>
    <div *ngIf="model.price.exchangeRate != null">
      <span class="fw-bold me-1">Exchange Rate:</span>
      <span>{{ model.price.exchangeRate | number : '1.0-4' }}</span>
    </div>
    <div *ngIf="model.price.exchangeRateDate != null">
      <span class="fw-bold me-1">Date:</span>
      <span>{{ model.price.exchangeRateDate | date: 'M/d/yyyy' }}</span>
    </div>
    <div *ngIf="model.price.exchangeFailure != null" [ngClass]="{ 'warning-message': model.price.exchangeRateDate != null }">
      <span>{{ model.price.exchangeFailure.message }}</span>
    </div>
  </ng-template>
</ng-template>
