<app-table [columns]="columns"
           [data]="data"
           [defaultSorting]="sorting"
           [loading]="loading"
           (sortingChanged)="onSortingChanged($event)"></app-table>

<ng-template #price let-row>
    <app-price [price]="row.price" [originalPrice]="row.originalPrice" class="d-inline-block"></app-price>
</ng-template>

<ng-template #actions let-row>
  <div class="mx-2">
    <app-round-button *ngIf="canRowBeEdited(row)" class="me-1" backgroundColor="#3498db" (click)="editItem(row)">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
    </app-round-button>
    <app-round-button backgroundColor="#e74c3c" (click)="removeItem(row)">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
      </svg>
    </app-round-button>
    </div>
</ng-template>

<ng-template #sharedWith let-row>
  <div *ngIf="row.permittedPersons?.length > 0" class="shared-with-container user-avatar">
    <app-user-avatar *ngFor="let user of row.permittedPersons.slice(0, 3)"
      [initials]="getUserInitials(user)"
      [tenant]="user.tenant"
      [ngbTooltip]="getUserFullName(user)">
    </app-user-avatar>
  </div>
</ng-template>

<ng-template #createdBy let-row>
  <div class="ms-2 user-avatar">
    <app-user-avatar
      [initials]="getUserInitials(row.createdBy)"
      [tenant]="row.createdBy.tenant"
      [ngbTooltip]="getUserFullName(row.createdBy)">
    </app-user-avatar>
  </div>
</ng-template>

<ng-template #confirmationDialog let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Deleting item</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
      Are you sure you want to delete the item?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close(true)">Delete</button>
  </div>
</ng-template>

<ng-template #exchangeResult let-model>
  <div
    *ngIf="model.originalPrice != null"
    class="exchange-icon mx-1"
    [ngClass]="{
      'error': model.price.exchangeFailure?.type === failureType.Error,
      'warning': model.price.exchangeFailure?.type === failureType.Warning
    }">
    <li class="icon icon-currency-exchange" [ngbPopover]="exchangeResultPopover" triggers="mouseenter:mouseleave"></li>
  </div>

  <ng-template #exchangeResultPopover>
    <div *ngIf="model.price.exchangeRate != null">
      <span class="fw-bold me-1">Exchange Rate:</span>
      <span>{{ model.price.exchangeRate | number : '1.0-4' }}</span>
    </div>
    <div *ngIf="model.price.exchangeRateDate != null">
      <span class="fw-bold me-1">Date:</span>
      <span>{{ model.price.exchangeRateDate | date: 'M/d/yyyy' }}</span>
    </div>
    <div *ngIf="model.price.exchangeFailure != null" [ngClass]="{ 'warning-message': model.price.exchangeRateDate != null }">
      <span>{{ model.price.exchangeFailure.message }}</span>
    </div>
  </ng-template>
</ng-template>
