.user-avatar {
  app-user-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: small;
    transition: 220ms all ease-in-out;
  }
}

.created-by-container {
  margin-left: 0.25em;
}

.shared-with-container {
  display: flex;
  flex-direction: row-reverse;

  app-user-avatar:not(:first-child) {
    margin-right: -26px;
  }

  &:hover {
    app-user-avatar:not(:first-child) {
      margin-right: -7px;
    }
  }
}

.exchange-icon {
  display: inline-block;
  width: 12px;
  height: 12px;

  .icon {
    background-color: #27ae60;;
  }
}

.error {
  .icon {
    background-color: #e74c3c;
  }
}

.warning {
  .icon {
    background-color: #f39c12;
  }
}

.warning-message {
  margin-top: 0.5em;
  font-size: small;
  color: #95a5a6;
  font-style: italic;
}

.more-users {
  cursor: pointer;
}
