.modal-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.busy-overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
