@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";

.datepicker {
  width: 250px;
}

.datepicker-content {
  height: 4px;
}

.total-counter {
  font-size: 2rem;
  display: flex;
  justify-content: center;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  .faulted-exchange {
    margin-top: 0.1em;
    width: 12px;
    height: 12px;
  }
}


.filter-dropdown-button {
  height: 100%;

  &::after {
    display: none;
  }

  & li {
    width: 22px;
    height: 22px;
    background-color: var(--bs-btn-color);
    vertical-align: middle;
  }

  &:hover li {
    background-color: var(--bs-btn-hover-color);
  }

  &:focus li {
    background-color: var(--bs-btn-active-color);
  }
}

button[ngbDropdownToggle] {
  & a.clear-filter {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 0.25rem;
    background-color: var(--bs-btn-color);
    transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &:hover a.clear-filter {
    background-color: var(--bs-btn-hover-color);
  }

  &:focus a.clear-filter {
    background-color: var(--bs-btn-active-color);
  }
}
