.datepicker {
  width: 250px;
}

.datepicker-content {
  height: 4px;
}

.total-counter {
  font-size: 2rem;
  display: flex;
  justify-content: center;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  .faulted-exchange {
    margin-top: 0.1em;
    width: 12px;
    height: 12px;
  }
}

.add-expense-button {
  white-space: nowrap;
}

.sticky-add-expense-button {
  opacity: 0.8;
  animation-name: example;
  animation-duration: 0.5s;

  &:hover {
    opacity: 1;
  }
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}
