<div class="total-counter" *ngIf="totalAmount">
  <app-price [price]="totalAmount"></app-price>
  <div *ngIf="isExchangeFaulted" class="faulted-exchange">
    <li class="icon icon-error" [ngbPopover]="exchangeFaultedErrorMessage" triggers="mouseenter:mouseleave"></li>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center">
  <ngb-datepicker class="datepicker" [startDate]="selectedMonth" (navigate)="onMonthChange($event)">
    <ng-template ngbDatepickerContent>
      <div class="bg-light datepicker-content"></div>
    </ng-template>
  </ngb-datepicker>
</div>
<div class="d-flex justify-content-between my-1">
  <div class="d-flex align-items-stretch d-inline-block">
    <div ngbDropdown class="d-inline-block me-1" *ngFor="let stickyFilter of stickyFilters | keyvalue: originalOrder">
      <button ngbDropdownToggle type="button" class="d-flex align-items-center btn btn-outline-success">
        <a class="d-inline-block icon icon-clear clear-filter" (click)="removeStickyFilter(stickyFilter.key); $event.stopPropagation()"></a>
        <span class="me-1">{{ stickyFilter.value.definition.displayName }}:</span>
        <span>{{ stickyFilter.value.selectedValue.name }}</span>
      </button>
      <div ngbDropdownMenu *ngIf="stickyFilter.value.definition.type === stickyFilterType.list">
        <button *ngFor="let item of stickyFilter.value.definition.items" ngbDropdownItem
          (click)="onStickyFilterChanged(stickyFilter.value, item)"
          [disabled]="item.value === stickyFilter.value.selectedValue.value">
          {{ item.name }}
        </button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button ngbDropdownToggle type="button" class="d-flex align-items-center btn btn-outline-success filter-dropdown-button">
        <li class="d-inline-block icon icon-filter"></li>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem
                *ngFor="let stickyFilterDefinition of stickyFiltersDefinitions | keyvalue"
                [disabled]="stickyFilters[stickyFilterDefinition.key] != null"
                (click)="addStickyFilter(stickyFilterDefinition.key)">
          {{ stickyFilterDefinition.value.displayName }}
        </button>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary d-inline-block ms-1" (click)="open()">Add new expense</button>
</div>
<app-expenses-table [data]="expenses" [selectedMonth]="selectedMonth" [stickyFilters]="stickyFilters"
  (itemChanged)="onItemChange($event)"></app-expenses-table>
