<app-table [columns]="columns" [data]="data" [defaultSorting]="defaultSorting"></app-table>

<ng-template #price let-row>
    <app-price [price]="row.exchangedPrice ?? row.price" class="d-inline-block"></app-price>
</ng-template>

<ng-template #actions let-row>
    <a class="icon-button mx-2" (click)="removeItem(row)">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
      </svg>
    </a>
</ng-template>

<ng-template #confirmationDialog let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Deleting item</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
      Are you sure you want to delete the item?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close(true)">Delete</button>
  </div>
</ng-template>
