.no-data-column {
    text-align: center;
}

tr {
  .floating-menu-column {
    position: relative;
    width: 0;
    min-width: 0;
    padding: 0;

    .floating-menu-trigger {
      position: absolute;
      display: none;
      cursor: pointer;
      top: 50%;
      right: 5px;
      transform: translate(0, -50%);
      box-shadow: none;

      &.active {
        display: block;
      }
    }
  }

  &:hover {
    .floating-menu-column .floating-menu-trigger {
      display: block;
    }
  }
}
