<table class="table table-striped">
    <thead>
        <tr>
            <th
                scope="col"
                [sortable]="column.name"
                [direction]="defaultSorting.column === column.name ? defaultSorting.direction : ''"
                [disableSorting]="column.disableSorting ?? false"
                (sort)="onSort($event)"
                *ngFor="let column of getVisibleColumns()"
                [ngStyle]="{ 'min-width': column.minWidth, 'width': column.stretch ? '100%' : null, 'white-space': 'nowrap' }"
                [ngClass]="{ 'ps-0': column.snapToPrevious }">
                <span>{{ column.displayName ?? "" }}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of sortedData">
            <td *ngFor="let column of getVisibleColumns()" [ngSwitch]="getColumnType(column)" [ngClass]="{ 'p-0': column.ignorePadding, 'ps-0': column.snapToPrevious }" [ngStyle]="{ 'vertical-align': 'middle', 'white-space': column.stretch ? 'normal' : 'nowrap' }">
                <span *ngSwitchCase="columnTypes.function">
                    {{ column.function?.(row) ?? emptyTableData}}
                </span>
                <ng-container *ngSwitchCase="columnTypes.template">
                    <ng-container [ngTemplateOutlet]="column.template?.() ?? null" [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
                </ng-container>
                <span *ngSwitchDefault>
                    {{ extractProperty(row, column.name) ?? emptyTableData }}
                </span>
            </td>
        </tr>
        <tr *ngIf="!sortedData || sortedData?.length === 0">
            <td [attr.colspan]="columns.length" class="no-data-column">No data</td>
        </tr>
    </tbody>
</table>
