<div class="d-flex flex-row justify-content-between user-connection-container">
  <div class="d-flex flex-row align-items-center user-tile-container me-3">
    <app-user-avatar [tenant]="connection.person.tenant" [initials]="initials" class="me-2"></app-user-avatar>
    <div class="d-flex flex-column user-name-container">
      <div class="d-flex flex-row user-name" *ngIf="connection.person.firstName">
        <div *ngIf="connection.person.firstName" class="me-1">{{ connection.person.firstName }}</div>
        <div *ngIf="connection.person.secondName">{{ connection.person.secondName }}</div>
      </div>
      <div *ngIf="connection.person.id" [ngClass]="{'small-id': connection.person.firstName}">
        <span *ngIf="!connection.person.firstName" class="me-1">User ID:</span>
        <span>#</span>
        <span>{{ connection.person.id }}</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-end justify-content-between">
    <div class="status-pin" [ngStyle]="{'background-color': statusPinColor}"></div>
    <div class="buttons-container">
      <div [ngSwitch]="connection.status">
        <div *ngSwitchCase="userConnectionStatus.pending">
          <app-pill-button class="me-1" backgroundColor="#CCF0D4" (click)="onAcceptButtonClick()">Accept</app-pill-button>
          <app-pill-button backgroundColor="#ECECEC" (click)="onDeclineButtonClick()">Decline</app-pill-button>
        </div>
        <div *ngSwitchCase="userConnectionStatus.pendingOnTarget">
          <app-pill-button backgroundColor="#FEBCB8" (click)="onCancelButtonClick()">Cancel</app-pill-button>
        </div>
        <div *ngSwitchCase="userConnectionStatus.accepted">
          <app-pill-button backgroundColor="#FEBCB8" (click)="onRemoveButtonClick()">Remove</app-pill-button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmationDialog let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Deleting user connection</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
      Are you sure you want to delete the user connection?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close(true)">Delete</button>
  </div>
</ng-template>
