<div class="d-flex justify-content-between">
  <ngb-datepicker class="datepicker" [startDate]="selectedMonth" (navigate)="onMonthChange($event)">
    <ng-template ngbDatepickerContent>
      <div class="bg-light datepicker-content"></div>
    </ng-template>
  </ngb-datepicker>
  <div class="total-counter" *ngIf="totalAmount">
    <span class="me-2">Total:</span>
    <app-price [price]="totalAmount"></app-price>
  </div>
  <div>
    <div ngbDropdown class="d-inline-block me-1">
      <button ngbDropdownToggle type="button" class="btn btn-outline-success">
        {{ viewTypeEnumToLabel[viewType] }}
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="onViewTypeChanged(0)">{{ viewTypeEnumToLabel[0] }}</button>
        <button ngbDropdownItem (click)="onViewTypeChanged(1)">{{ viewTypeEnumToLabel[1] }}</button>
        <button ngbDropdownItem (click)="onViewTypeChanged(2)">{{ viewTypeEnumToLabel[2] }}</button>
        <button ngbDropdownItem (click)="onViewTypeChanged(3)">{{ viewTypeEnumToLabel[3] }}</button>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="open()">Add new expense</button>
  </div>
</div>
<app-expenses-table [data]="expenses" [selectedMonth]="selectedMonth" [viewType]="viewType" (itemChanged)="onItemChange($event)"></app-expenses-table>
