<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <label for="date">Date:</label>
            <div class="input-group">
                <input ngbDatepicker id="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="date"
                    #dp="ngbDatepicker">
                <button class="btn btn-outline-secondary calendar-icon" (click)="dp.toggle()" type="button"></button>
            </div>
        </div>
        <div class="col">
            <label for="item">Item:</label>
            <ng-select id="item" formControlName="item" [items]="items$ | async" [addTag]="addItem.bind(this)" [loading]="loading" [typeahead]="searchEntry$" [hideSelected]="true" [minTermLength]="1" bindLabel="item" bindValue="item" (change)="itemChanged($event)"></ng-select>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="category">Category:</label>
        <ng-select id="category" formControlName="category" [items]="categories" bindLabel="name" [addTag]="true" [hideSelected]="true"></ng-select>
      </div>
      <div class="col">
        <label for="price">Price:</label>
        <div class="input-group">
          <input id="price" class="form-control" formControlName="priceAmount" />
          <select class="form-select input-group-text" formControlName="currencyId">
            <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }}</option>
          </select>
        </div>
        </div>
    </div>
</form>
