.user-tile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-right: 0.5em;

  app-user-avatar {
    height: 35px;
    width: 35px;
  }

  .user-name {
    max-width: 200px;

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
