<div [ngbPopover]="exchangedPrice ? popoverContent : null" triggers="mouseenter:mouseleave">
    <span>
        {{ price.amount | number : '1.0-2' }}
    </span>
    <app-currency
        class="currency-name"
        [currency]="price.currency"
        appearance="omitFlag">
    </app-currency>
</div>

<ng-template #popoverContent>
    <div>
        <span>Original price:</span>
        <span>
            {{ exchangedPrice.originalAmount | number : '1.0-2' }}
        </span>
        <app-currency
            [currency]="exchangedPrice.originalCurrency"
            appearance="omitFlag">
        </app-currency>
    </div>
</ng-template>
