<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ name }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.dismiss()"></button>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.dismiss()">{{ buttonCancelName }}</button>
  <button type="button" class="btn btn-success" [disabled]="disableSubmitButton" (click)="modalRef.close(returnValue)">{{ buttonSaveName }}</button>
</div>
