.login-form {
  padding: 1em;
  width: 250px;
}

.pending-connections {
  margin-left: 5px;
  background-color: #3498db;
  padding: 2px 5px;
  border-radius: 23px;
  font-size: small;
  min-width: 23px;
  text-align: center;

  & > span {
    color: white;
  }
}
