<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <label for="date">Date:</label>
            <div class="input-group">
                <input ngbDatepicker id="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="date"
                    #dp="ngbDatepicker">
                <button class="btn btn-outline-secondary calendar-icon" (click)="dp.toggle()" type="button"></button>
            </div>
        </div>
        <div class="col">
            <label for="name">Name:</label>
            <ng-select id="name" formControlName="name" [items]="names$ | async" [addTag]="addExpenseName.bind(this)" [loading]="loading" [typeahead]="searchEntry$" [hideSelected]="true" [minTermLength]="1" bindLabel="name" bindValue="name" (change)="nameChanged($event)">
              <ng-template ng-option-tmp let-name="item">
                <span class="me-1">{{ name.name }}</span>
                <span class="item-suggestion-category">{{ name.categoryName | parenthesesPipe }}</span>
              </ng-template>
            </ng-select>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" formControlName="description" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="categoryName">Category:</label>
        <ng-select id="categoryName" formControlName="categoryName" [items]="categories" [addTag]="true" [hideSelected]="true"></ng-select>
      </div>
      <div class="col">
        <label for="price">Price:</label>
        <div class="input-group">
          <input id="price" class="form-control" formControlName="priceAmount" />
          <select class="form-select input-group-text" formControlName="currencyId">
            <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="isSharedWithLookupVisible(item)" class="row mt-3">
      <div class="col">
        <label for="permittedPersons">Shared With:</label>
        <ng-select id="permittedPersons" formControlName="permittedPersons" [items]="friends" [hideSelected]="true" [multiple]="true" [closeOnSelect]="false" [compareWith]="compareUsers" data-1p-ignore>
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="d-flex flex-row align-items-center">
              <ng-container [ngTemplateOutlet]="userLookupOption" [ngTemplateOutletContext]="{item: item}">
              </ng-container>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <ng-container [ngTemplateOutlet]="userLookupOption" [ngTemplateOutletContext]="{item: item}">
            </ng-container>
          </ng-template>
        </ng-select>
      </div>
    </div>
</form>

<ng-template #userLookupOption let-item="item">
  <div class="d-flex flex-row align-items-center">
    <app-user-avatar class="mx-1" initials="" [tenant]="item.tenant"></app-user-avatar>
    <span class="me-1">{{ getUserFullName(item) }}</span>
  </div>
</ng-template>
